.card{
    margin: 100px auto;
    background-color: rgb(213, 159, 159);
    border-radius: 20px;
    border: 0px solid #000;
}
.card-img-top{
    border-radius: 20px 20px 0 0;
}
.conteiner {
    width: 600px;
    height: 30px;
    margin: 0 auto;
    display: flex ;
    justify-content: space-between;
}
.btn-primary{
    padding: 2px;
}
